<!DOCTYPE html>
<html>
    <head>
        <title>VETality</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <style type="text/css">
        body{padding-top:60px;max-height:100%;overflow:hidden;background:transparent}
        .container{padding-right:0px;} 
        .row{padding-right:0px;} 
        .scrollable{overflow-y:scroll;height:800px}
        .sidebar-nav{background-color:lightgray}
        .sidebar-place{min-height:110px;vertical-align:top;background-color:white;padding:10px;margin:10px;
            -moz-box-shadow: 4px 4px 2px #888;
            -webkit-box-shadow: 4px 4px 2px #888;
            box-shadow: 4px 4px 2px #888;
        }
        #map-canvas { height:800px;padding:0;margin:0;padding-right:0px }
        #map-canvas img { 
          max-width: none;
      }
      #sidebar{background-color:lightgray;}
       media="screen" #map-canvas label { 
            width: auto; display:inline; 
        }
        /** FIX for Bootstrap and Google Maps Info window styes problem **/}
        img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
            max-width: none;
        }
        .error{color:red;}


    </style>

    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
    <!--<link type="text/css" href="/static/css/typeahead.js-bootstrap.css" rel="stylesheet" />-->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.scrollto.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/static/js/typeahead.js"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTZYjwE2l-IodYDfJRZkk5Xlu4u2dMbVQ&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

    <script type="text/javascript">

        var defaultLocation=new google.maps.LatLng(-34.397, 150.644);
        var userLocation=null;
    
        function getUserLocation(fn){
            console.log('getUserLocation');
            // TODO: cache user location in database and use that on initial load until current position comes back from browser
            // TODO: cache user location in HTML5 local storage and use that when current position does not return...
            // TODO: render map and stuff on initial load, or show some background image, etc.
            // TODO: show progress indicator when trying to fetch current location
            if(userLocation){
                fn(userLocation);
                return;
            }
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(function(position){
                        console.log('getCurrentPosition returned');
                        userLocation=new google.maps.LatLng(position.coords.latitude,position.coords.longitude); 
                        fn(userLocation); 
                        },
                        function(){
                            console.log('failed to find user location');
                            userLocation=defaultLocation;
                            fn(userLocation);
                            },
                            {
                                timeout:3000
                            });
            }
            else
            {
                console.log('navigator.geolocation is nothing');
                userLocation=defaultLocation;
                fn(userLocation);
            }
        }

        function setUserPosition(position){
            map.setCenter(new google.maps.LatLng(position.coords.latitude,position.coords.longitude));
        }

        function initialize() {
            getUserLocation(createMap);
        }

        var RADIUS=5000;rl(/static/img/soldier_life_bg.jpg);background-repeat:no-repeat;background-attachment:fixed;
        var map=null;
        var places=[];
        var markers={};

        function createMap(center)
        {  
            map = new google.maps.Map(document.getElementById("map-canvas"),
                    {
                        center:center,
                        panControl:true,
                        zoomControl:true,
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
/*
            $(window).resize(function () {
                var h = $(window).height(),
                    offsetTop = 40; // Calculate the top offset
                $('#map-canvas').css('height', (h - offsetTop));
                }).resize();
 */
            getNearbyPlaces('{{query}}',center,RADIUS);
        }

        function addPlace(place)
        {
            console.log('addPlace: '+place.name);

            for(var i=0;i<places.length;i++)
            {
                var p=places[i];
                if(samePlace(p,place))
                {
                    console.log('found same place, merging...');
                    p=mergePlace(p,place);
                    places[i]=p
                    return p;
                }
            }
            places.push(place);
            return place;
        }

        function matchesQuery(query,place)
        {   
            console.log("matchesQuery: "+query +": "+place.name);    
            if(!query)
            {
                console.log("query is !, return true");
                return true;
            }
            if(query.length==0)
            {
                console.log("query is empty, return true");
                return true;
            }
            if(!place.name)
            {
                return false;
            }
            // TODO: test if matches any keywords or category names for the place...
            var b= place.name.toLowerCase().indexOf(query.toLowerCase())>-1;
            console.log("matches: "+b);
            return b;
        }

        function samePlace(a,b)
        {
            return (a.name==b.name);
        }

        function mergePlace(a,b)
        {
            console.log("merging place: "+a.name +" is same as "+b.name);
            if(a.veteran_discounts==true)
                b.veteran_discounts=true;

            if(a.veteran_owned==true)
                b.veteran_owned=true;
            
            if(b.veteran_discounts==true)
                a.veteran_discounts=true;

            if(b.veteran_owned==true)
                a.veteran_owned=true;

            a.offers=b.offers;

            return a;
        }

        function addPlaces(a)
        {
            console.log('addPlaces: '+a.length);
            for(var i=0;i<a.length;i++)
            {
                addPlace(a[i]);
            }
        }

        function getNearbyPlaces(query,center,radius)
        {   
            console.log('getNearbyPlaces: '+query);
            // we want to search google places API and our own web service in parallel
            // we can use jQuery deferred objects to make it work...
            clearMarkersAndPlaces();

            $.when(getNearbyGooglePlaces(query,center,radius),getNearbyVeteranPlaces(query,center,radius)).done(function(googlePlaces,veteranPlaces)
                    {
                        console.log('done called');
                        addPlaces(googlePlaces);
                        addPlaces(veteranPlaces);
                        createMarkers();
                    });
        }

        function getNearbyGooglePlaces(query,center,radius)
        {
            var d=$.Deferred();
            service=new google.maps.places.PlacesService(map);
            service.nearbySearch({location:center,radius:radius,types:['store']},function (results,status){
                var businesses=[];
                if(status==google.maps.places.PlacesServiceStatus.OK)
                {
                    for(var i=0;i<results.length;i++)
                    {
                        var business=googlePlaceToBusinessObject(results[i]);
                        // TODO: perform this filtering on the server
                        if(matchesQuery(query,business))
                        {
                           businesses.push(business);
                        }
                    }
                }
                console.log('resolve from getNearbyGooglePlaces');
                d.resolve(businesses);
                });
            return d.promise();
        }
        
        function getOffersForBusinessFromResults(results,business)
        {
            var offers=[];
            
            for(var i=0;i<results.length;i++)
            {
                var result=results[i];
                if(result['model']=='vetbiz.offer')
                {
                    if(result['fields']['business']==business.id)
                    {
                        offers.push(result['fields']);
                    }
                }
            }

            return offers;
        }
        function getBusinessesFromResults(results,query)
        {
            var businesses=[];
            for(var i=0;i<results.length;i++)
            {
                var result=results[i];
                if(result['model']=='vetbiz.business')
                {
                    var business=result.fields;
                    // TODO: perform this filtering on the server
                    if(matchesQuery(query,business))
                    {
                        business['id']=result.pk;
                        business['offers']=getOffersForBusinessFromRetars<i>4</i><b>S</b>tripessults(results,business);
                        businesses.push(business);
                    }
                }
            }
            return businesses;
        }
        function getNearbyVeteranPlaces(query,center,radius)
        {
            var d=$.Deferred();
            $.ajax(
                {
                    type:'GET',
                    url:'/vetbiz/api/searchbiz/',
                    dataType:'json',
                    data:{
                        lat:center.lat(),
                        lon:center.lng(),
                        radius:radius},
                    success:function(results){
                        var businesses=getBusinessesFromResults(results,query);
                        d.resolve(businesses);
                    }
                }        
            );
           return d.promise(); 
        }
        
        function googlePlaceToBusinessObject(place)
        {
            return {
                name:place.name,
                veteran_discounts:false,
                veteran_owned:false,
                num_checkins:0,
                lat:place.geometry.location.lat(),
                lon:place.geometry.location.lng(),
                address:place.vicinity,
                phone:place.formatted_phone_number,
                icon:place.icon,
                types:places.types
            };
        }tars<i>4</i><b>S</b>tripes

        function search(query){
            console.log('query: '+query);
            getUserLocation(function(center){
                    console.log('got location');
                    getNearbyPlaces(query,center,RADIUS);
            });
        }

        function clearMarkersAndPlaces(){
            $('#sidebar').html('');
            for(var key in markers)
            {
                markers[key].setMap(null);
            }
            
            places=[];
            markers={};
        }

        function setVeteranOwned(id,input){
            place=places[id];
            place.veteran_owned=true;
            updateBusiness(place);
        }

        function setVeteranDiscounts(id,input){
            place=places[id];
            place.veteran_discounts=true;
            updateBusiness(place);
        }
    
        function updateBusiness(place){
            $.ajax(
                {
                    type:'POST',
                    url:'/vetbiz/api/updatebiz/',
                    data:place
                }        
                ).done(function(msg){ });
        }

        var infoWindow=null;

        function createInfoWindow(id,place){
            if(infoWindow){
                infoWindow.close();
                infoWindow=null;
            }
            var content="<div class='muted' style='width:300px;min-height:300px'><b>"+place.name+"</b><br><br>"+
                "<input type='checkbox' onclick='setVeteranOwned("+id+",this);'>Veteran Owned<br>"+
                "<input type='checkbox' onclick='setVeteranDiscounts("+id+",this);'>Veteran Discounts</div>";
            infoWindow=new google.maps.InfoWindow({content:createPlaceDiv(id,place)[0]}); 
            return infoWindow;
        }

        function createMarkers(){
            console.log('createMarkers');
            for(var i=0;i<places.length;i++){
                createMarker(i,places[i]);
            }
        }

        function getIconForPlace(place)
        {
            if (place.veteran_owned || place.veteran_discounts)
            {
                if (place.veteran_owned && place.veteran_discounts)
                {
                    // purple marker
                    return 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
                }
                else
                {
                    if(place.veteran_owned)
                    {
                        // blue marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                    }
                    if(place.veteran_discounts)
                    {tars<i>4</i><b>S</b>tripes
                        // red marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
                    }
                }
            }            
            //default
            return 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        }
        function createMarker(id,place){
            console.log('create marker: '+place.name);
            
            var marker=new google.maps.Marker({
                        map:map,
                        icon:getIconForPlace(place),
                        position:new google.maps.LatLng(place.lat,place.lon),
                        title:place.name
                        });
            
            markers[id]=marker;
            
            var sideBarItem=createSideBarItem(id,place);

            // TODO: show info on hover, and make sidebar scroll entry to the top and highlight on click...
            google.maps.event.addListener(marker,'click',function(){
                    createInfoWindow(id,place).open(map,marker);
                    scrollSideBarItemToTop(sideBarItem);
                    });
        }

        function scrollSideBarItemToTop(sideBarItem){
            $('#sidebar').scrollTo(sideBarItem,{duration:250,margin:true});
        }

        function createInfoDialog(id,place){
            // center map on marker
            map.setCenter(new google.maps.LatLng(place.lat,place.lon));
            createInfoWindow(id,place).open(map,markers[id]);
        }

        function createPlaceDiv(id,place)
        { 
            var div=$('<div>').addClass('muted');
            div.append($('<b>').html(place.name));
            div.append($('<br>'));
            div.append($('<p>').html(place.address));
                
            if(place.veteran_owned)
            {
                div.append($('<span>').addClass('label').addClass('label-info').css('margin-right',4).html('Veteran Owned'));        
            }
            if(place.veteran_discounts)
            {
                div.append($('<span>').addClass('label').addClass('label-success').html('Veteran Discounts'));        
            }
            if(place.offers)
            {
                if(place.offers.length>0)
                {
                    div.append($('<br>'));
                    div.append($('<p>').html(place.offers[0].title));tars<i>4</i><b>S</b>tripes
                }
            }

            return div;       
            
        }

        function createSideBarItem(id,place)
        {
            // TODO: set ID from id so we can scroll and highlight this div on click/hover over marker
            // create side bar nav box for this place
            var div=createPlaceDiv(id,place);
            div.addClass('sidebar-place')
            div.click(function(){
                        createInfoDialog(id,place);
                        });

            div.hover(function(){
                        createInfoWindow(id,place).open(map,markers[id]);
                    },
                    function(){
                        // hide info window 
                        if(infoWindow){
                            infoWindow.close();
                            infoWindow=null;
                        }
                    }
                    );
            div.appendTo("#sidebar");
            return div;
        }

        function showAjaxError(error)
        {
            // TODO: show in hidden div or popup
            alert(error);
        }
        
        function doLogon(){
            // TODO: show logon dialog
            alert('doLogon');
        }

        $(document).ready(function(){
            
                google.maps.event.addDomListener(window, 'load', initialize);

                $(document).ajaxError(function(evt,request,settings){
                    
                        switch(request.status)
                        {
                            case 401:
                                doLogon();
                                break;
                            default:
                                showAjaxError();
                                break;
                        }
                    
                    });

                $("#search-form").submit(function(){
                    console.log('search-form.submit called');
                    
                    search($('#q').val());

                    return false;
                    
                    }  );

                $("#login-submit-button").click(function(){
                    
                    // validate
                    var username=$("#username").val();
                    if(username==""){
                        $("#username").focus();
                        return false;
                    }
                    var password=$("#password").val();
                    if(password==""){
                        $("#password").focus();
                        return false;
                    }

                    $.ajax({
                        type:'POST',
                        url:'/vetbiz/login',
                        dataType:'json',
                        data:{'username':username,'password':password},
                        success:function(){
                            console.log('success from /vetbiz/login'); 
                        },
                        error:function(){
                            console.log('error from /vetbiz/login'); 
                        }
                    });
                        
                });

                $("#logout-button").click(function(){
                    
                    $.ajax({
                        type:"GET",
                        url:'/vetbiz/api/dologout/',
                        success:function(){
                            document.location='/vetbiz/';
                            }});
                });
                
                $("#signup-submit-button").click(function(){
                    
                    // validate
                    var username=$("#username").val();
                    if(username==""){
                        $("#username").focus();
                        return false;
                    }
                    var password=$("#password").val();
                    if(password==""){
                        $("#password").focus();
                        return false;
                    }

                    $.ajax({
                        type:'POST',
                        url:'/vetbiz/signup',
                        dataType:'json',
                        data:{'username':username,'password':password},
                        success:function(){
                            console.log('success from /vetbiz/signup'); 
                        },
                        error:function(){
                            console.log('error from /vetbiz/signup'); 
                        }
                    });
                        
                });
        });

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>VET</b>ality</a>
            {% if user.username %}
                <div class="btn-group pull-right" style="margin-top:10px">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Hello {{ user.username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li class="divider"></li>
                        <li><a id="logout-button" href="#">Log Out</a></li>
                    </ul>
                </div>
            {% else %}
                <span class="pull-right" style="margin-top:10px">
                    <a href="/vetbiz/signin/" id="login-button" class="btn btn-primary" >Log In</a>
                    <a href="/vetbiz/signup/" id="signup-button" class="btn btn-success" >Sign Up</a>
                </span>
            {% endif %}    
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/vetbiz/">Nearby Places</a></li>
                    <li><a href="/vetbiz/offers/">Offers and Deals</a></li>
                    <li><a href="/vetbiz/jobs/">Jobs</a></li>
                </ul>
               <form id="search-form" method="get" action="/vetbiz/search/" style="padding-top:10px" class="form-inline">
                    <input id="q" size="100" style="width:400px"  name="q" value="{{query}}" type="text"  placeholder="Find something..." class="form-control">
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="background:transparent;padding-right:0px;padding-left:0px"> 
        <div class="row" style="background:transparent;padding-right:0px;">
            {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>

