<!DOCTYPE html>
<html>
    <head>
        <title>VETality</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <style type="text/css">
        body{padding-top:60px;max-height:100%;background:transparent}
        .container{padding-right:0px;} 
        .row{padding-right:0px;} 
        .scrollable{overflow-y:scroll;height:800px}
        .sidebar-nav{background-color:transparent;}
        .sidebar-place{min-height:110px;vertical-align:top;background-color:white;padding:10px;margin-bottom:10px;
            -moz-box-shadow: 2px 2px 1px #888;
            -webkit-box-shadow: 2px 2px 1px #888;
            box-shadow: 2px 2px 1px #888;
        }
        #map-canvas { height:800px;padding:0;margin:0;padding-right:0px }
        #map-canvas img { 
          max-width: none;
      }
      #sidebar{background-color:transparent;}
       media="screen" #map-canvas label { 
            width: auto; display:inline; 
        }
        /** FIX for Bootstrap and Google Maps Info window styes problem **/}
        img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
            max-width: none;
        }
        .error{color:red;}


    </style>

    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
    <!--<link type="text/css" href="/static/css/typeahead.js-bootstrap.css" rel="stylesheet" />-->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.scrollto.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/static/js/typeahead.js"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTZYjwE2l-IodYDfJRZkk5Xlu4u2dMbVQ&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

    <script type="text/javascript">

        var defaultLocation=new google.maps.LatLng(40.440807, -80.006561);
        var userLocation=null;
    
        function getUserLocation(fn){
            
	     // TODO: cache user location in database and use that on initial load until current position comes back from browser
            // TODO: cache user location in HTML5 local storage and use that when current position does not return...
            // TODO: render map and stuff on initial load, or show some background image, etc.
            // TODO: show progress indicator when trying to fetch current location
            if(userLocation){
                fn(userLocation);
                return;
            }
	    // HACK: for testing and demo, just default to pgh for now...
	    fn(defaultLocation);
		return;

            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(function(position){
                        userLocation=new google.maps.LatLng(position.coords.latitude,position.coords.longitude); 
                        fn(userLocation); 
                        },
                        function(){
                            userLocation=defaultLocation;
                            fn(userLocation);
                            },
                            {
                                timeout:3000
                            });
            }
            else
            {
		// TODO: try google fall-back method...

		// TODO: get users last location from database
                userLocation=defaultLocation;
                fn(userLocation);
            }
        }

        function setUserPosition(position){
            map.setCenter(new google.maps.LatLng(position.coords.latitude,position.coords.longitude));
        }

        function initialize() {
            getUserLocation(createMap);
        }

        var RADIUS=7000;
        var map=null;
        var places=[];
        var markers={};

        function createMap(center)
        {  
            map = new google.maps.Map(document.getElementById("map-canvas"),
                    {
                        center:center,
                        panControl:true,
                        zoomControl:true,
			panControlOptions:{position:google.maps.ControlPosition.TOP_RIGHT},
			zoomControlOptions:{position:google.maps.ControlPosition.TOP_RIGHT},
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
/*
            $(window).resize(function () {
                var h = $(window).height(),
                    offsetTop = 40; // Calculate the top offset
                $('#map-canvas').css('height', (h - offsetTop));
                }).resize();
 */


            //google.maps.event.addListener(map,'center_changed',function(){
            //google.maps.event.addListener(map,'idle',function(){
            google.maps.event.addListener(map,'dragend',function(){
                // get new set of places based on new center...        
                    var center=map.getCenter();
                    // TODO: only do this if map moved by some minimum amount...?
                    getNearbyPlaces('',center,RADIUS); 
            });
            
            getNearbyPlaces('{{query}}',center,RADIUS);
        }

        function addPlace(place)
        {

            for(var i=0;i<places.length;i++)
            {
                var p=places[i];
                if(samePlace(p,place))
                {
                    p=mergePlace(p,place);
                    places[i]=p
                    return p;
                }
            }
            places.push(place);
            return place;
        }

        function matchesQuery(query,place)
        {   
            if(!query)
            {
                return true;
            }
            if(query.length==0)
            {
                return true;
            }
            if(!place.name)
            {
                return false;
            }
            // TODO: test if matches any keywords or category names for the place...
            var b= place.name.toLowerCase().indexOf(query.toLowerCase())>-1;
            return b;
        }

        function samePlace(a,b)
        {
            return (a.name==b.name);
        }

        function mergePlace(a,b)
        {
            if(a.veteran_discounts==true)
                b.veteran_discounts=true;

            if(a.veteran_owned==true)
                b.veteran_owned=true;
            
            if(b.veteran_discounts==true)
                a.veteran_discounts=true;

            if(b.veteran_owned==true)
                a.veteran_owned=true;

            a.id=b.id;
            a.offers=b.offers;

            return a;
        }

        function addPlaces(a)
        {
            for(var i=0;i<a.length;i++)
            {
                addPlace(a[i]);
            }
        }

        function getNearbyPlaces(query,center,radius)
        {   
            // we want to search google places API and our own web service in parallel
            // we can use jQuery deferred objects to make it work...
            clearMarkersAndPlaces();

            $.when(getNearbyGooglePlaces(query,center,radius),getNearbyVeteranPlaces(query,center,radius*10)).done(function(googlePlaces,veteranPlaces)
                    {
                        console.log("Got "+googlePlaces.length+" nearby places from Google");
                        console.log("Got "+veteranPlaces.length+" nearby places from database");
                        addPlaces(veteranPlaces);
                        addPlaces(googlePlaces);
                        createMarkers();
                    });
        }

        function getNearbyGooglePlaces(query,center,radius)
        {
            var d=$.Deferred();
            service=new google.maps.places.PlacesService(map);
            service.nearbySearch({location:center,radius:radius,types:['store']},function (results,status){
                var businesses=[];
                if(status==google.maps.places.PlacesServiceStatus.OK)
                {
                    for(var i=0;i<results.length;i++)
                    {
                        var business=googlePlaceToBusinessObject(results[i]);
                        // TODO: perform this filtering on the server
                        if(matchesQuery(query,business))
                        {
                           businesses.push(business);
                        }
                    }
                }
                d.resolve(businesses);
                });
            return d.promise();
        }
        
        function getOffersForBusinessFromResults(results,business)
        {
            var offers=[];
            
            for(var i=0;i<results.length;i++)
            {
                var result=results[i];
                if(result['model']=='vetbiz.offer')
                {
                    if(result['fields']['business']==business.id)
                    {
                        offers.push(result['fields']);
                    }
                }
            }

            return offers;
        }
        function getBusinessesFromResults(results,query)
        {
            var businesses=[];
            for(var i=0;i<results.length;i++)
            {
                var result=results[i];
                if(result['model']=='vetbiz.business')
                {
                    var business=result.fields;
                    // TODO: perform this filtering on the server
                    if(matchesQuery(query,business))
                    {
                        business['id']=result.pk;
                        business['offers']=getOffersForBusinessFromResults(results,business);
                        businesses.push(business);
                    }
                }
            }
            return businesses;
        }
        function getNearbyVeteranPlaces(query,center,radius)
        {
            var d=$.Deferred();
            $.ajax(
                {
                    type:'GET',
                    url:'/vetbiz/api/searchbiz/',
                    dataType:'json',
                    data:{
                        lat:center.lat(),
                        lon:center.lng(),
                        radius:radius},
                    success:function(results){
                        var businesses=getBusinessesFromResults(results,query);
                        d.resolve(businesses);
                    }
                }        
            );
           return d.promise(); 
        }
        
        function googlePlaceToBusinessObject(place)
        {
            return {
                name:place.name,
                veteran_discounts:false,
                veteran_owned:false,
                num_checkins:0,
                lat:place.geometry.location.lat(),
                lon:place.geometry.location.lng(),
                address:place.vicinity,
                phone:place.formatted_phone_number,
                icon:place.icon,
                types:places.types
            };
        } 
       function search(query){
	        //HACK: just a quick way to import local businesses into our database for testing
           if(query==":import")
	       {
          	// import current places
                for(var i=0;i<places.length;i++)
                {
                    updateBusiness(places[i]);			
                } 
   	            return; 
           }
            var context_type='{{context_type}}';
            if(context_type=='') 
                context_type='map';
            console.log('context_type='+context_type);
            ({'map':search_map,'places':search_places,'offers':search_offers,'jobs':search_jobs}[context_type])(query);
       }

       function search_map(query){
            if(map!=null){
                var center=map.getCenter();
                getNearbyPlaces(query,center,RADIUS);
            }   
       }

       function search_places(query){
            var url='/vetbiz/places?q='+encodeURIComponent(query);
            document.location=url;
       }

       function search_offers(query){
            var url='/vetbiz/offers?q='+encodeURIComponent(query);
            document.location=url;
       }

       function search_jobs(query){
            var url='/vetbiz/jobs?q='+encodeURIComponent(query);
            document.location=url;
       }

        function clearMarkersAndPlaces(){
            $('#sidebar').html('');
            for(var key in markers)
            {
                markers[key].setMap(null);
            }
            
            places=[];
            markers={};
        }

        function setVeteranOwned(id,input){
            place=places[id];
            place.veteran_owned=true;
            updateBusiness(place);
        }

        function setVeteranDiscounts(id,input){
            place=places[id];
            place.veteran_discounts=true;
            updateBusiness(place);
        }

        function checkin(placeid,onsuccess){
            $.ajax(
                    {
                        type:'POST',
                        url:'/vetbiz/api/checkin/',
                        data:{'id':placeid,
                        'csrfmiddlewaretoken':'{{ csrf_token }}'}
                    }).done(function(msg){onsuccess();});
        }

        function updateBusiness(place){
            $.ajax(
                {
                    type:'POST',
                    url:'/vetbiz/api/updatebiz/',
                    data:place
                }        
                ).done(function(msg){ });
        }

        var infoWindow=null;

        function createInfoWindow(id,place){
            if(infoWindow){
                infoWindow.close();
                infoWindow=null;
            }
            infoWindow=new google.maps.InfoWindow({content:createPlaceDiv(id,place)[0],disableAutoPan:true}); 
            return infoWindow;
        }

        function createMarkers(){
            for(var i=0;i<places.length;i++){
                createMarker(i,places[i]);
            }
        }

        function getIconForPlace(place)
        {
            if (place.veteran_owned || place.veteran_discounts)
            {
                if (place.veteran_owned && place.veteran_discounts)
                {
                    // purple marker
                    return 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
                }
                else
                {
                    if(place.veteran_owned)
                    {
                        // blue marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                    }
                    if(place.veteran_discounts)
                    {
                        // red marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
                    }
                }
            }            
            //default
            return 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        }
        function createMarker(id,place){
            
            var marker=new google.maps.Marker({
                        map:map,
                        icon:getIconForPlace(place),
                        position:new google.maps.LatLng(place.lat,place.lon),
                        title:place.name
                        });
            
            markers[id]=marker;
            
            var sideBarItem=createSideBarItem(id,place);

            // TODO: show info on hover, and make sidebar scroll entry to the top and highlight on click...
            google.maps.event.addListener(marker,'click',function(){
                    createInfoWindow(id,place).open(map,marker);
                    scrollSideBarItemToTop(sideBarItem);
                    });
        }

        function scrollSideBarItemToTop(sideBarItem){
            $('#sidebar').scrollTo(sideBarItem,{duration:250,margin:true});
        }

        function createInfoDialog(id,place){
            // center map on marker
            map.setCenter(new google.maps.LatLng(place.lat,place.lon));
            createInfoWindow(id,place).open(map,markers[id]);
        }

        function createPlaceDiv(id,place)
        { 
            var div=$('<div>').addClass('muted');
            div.append($('<b>').html(place.name));
            div.append($('<br>'));
            div.append($('<p>').html(place.address));
                
            if(place.veteran_owned)
            {
                div.append($('<span>').addClass('label').addClass('label-info').css('margin-right',4).html('Veteran Owned'));        
            }
            if(place.veteran_discounts)
            {
                div.append($('<span>').addClass('label').addClass('label-success').html('Veteran Discounts'));        
            }
            if(place.offers)
            {
                if(place.offers.length>0)
                {
                    div.append($('<br>'));
                    div.append($('<p>').html(place.offers[0].title));
                }
            }
            if(place.id)
            {
                div.append($('<div>').addClass('pull-right').append($('<a>').attr('href','/vetbiz/place/'+place.id).html("More info")));
            }
            return div;       
            
        }

        function createSideBarItem(id,place)
        {
            // TODO: set ID from id so we can scroll and highlight this div on click/hover over marker
            // create side bar nav box for this place
            var div=createPlaceDiv(id,place);
            div.addClass('sidebar-place')
            div.click(function(){
                        createInfoDialog(id,place);
                        });

            div.hover(function(){
                        createInfoWindow(id,place).open(map,markers[id]);
                    },
                    function(){
                        // hide info window 
                        if(infoWindow){
                            infoWindow.close();
                            infoWindow=null;
                        }
                    }
                    );
            div.appendTo("#sidebar");
            return div;
        }

        function showAjaxError(error)
        {
            // TODO: show in hidden div or popup
            alert(error);
        }
        
        function doLogon(){
            // TODO: show logon dialog
            alert('doLogon');
        }

        $(document).ready(function(){
            
                //google.maps.event.addDomListener(window, 'load', initialize);

                $(document).ajaxError(function(evt,request,settings){
                    
                        switch(request.status)
                        {
                            case 401:
                                doLogon();
                                break;
                            default:
                                showAjaxError();
                                break;
                        }
                    
                    });

                $("#search-form").submit(function(){
                    
                    search($('#q').val());

                    return false;
                    
                    }  );

                $("#login-submit-button").click(function(){
                    
                    // validate
                    var username=$("#username").val();
                    if(username==""){
                        $("#username").focus();
                        return false;
                    }
                    var password=$("#password").val();
                    if(password==""){
                        $("#password").focus();
                        return false;
                    }

                    $.ajax({
                        type:'POST',
                        url:'/vetbiz/login',
                        dataType:'json',
                        data:{'username':username,'password':password},
                        success:function(){
                        },
                        error:function(){
                        }
                    });
                        
                });

                $("#logout-button").click(function(){
                    
                    $.ajax({
                        type:"GET",
                        url:'/vetbiz/api/dologout/',
                        success:function(){
                            document.location='/vetbiz/';
                            }});
                });
                
                $("#signup-submit-button").click(function(){
                    
                    // validate
                    var username=$("#username").val();
                    if(username==""){
                        $("#username").focus();
                        return false;
                    }
                    var password=$("#password").val();
                    if(password==""){
                        $("#password").focus();
                        return false;
                    }

                    $.ajax({
                        type:'POST',
                        url:'/vetbiz/signup',
                        dataType:'json',
                        data:{'username':username,'password':password},
                        success:function(){
                        },
                        error:function(){
                        }
                    });
                        
                });
        });

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>VET</b>ality</a>
            {% if user.username %}
                <div class="btn-group pull-right" style="margin-top:10px">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Hi {{ user.username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/vetbiz/profile/">My Profile</a></li>
                        <li><a href="/vetbiz/checkins/">My Checkins</a></li>
                        <li class="divider"></li>
                        <li><a id="logout-button" href="#">Log Out</a></li>
                    </ul>
                </div>
            {% else %}
                <span class="pull-right" style="margin-top:10px">
                    <a href="/vetbiz/signin/" id="login-button" class="btn btn-primary" >Log In</a>
                    <a href="/vetbiz/signup/" id="signup-button" class="btn btn-success" >Sign Up</a>
                </span>
            {% endif %}    
            <div class="nav-collapse collapse">
                {% block tabs %}
                    <ul class="nav navbar-nav">
                        <li><a href="/vetbiz/">Map</a></li>
                        <li><a href="/vetbiz/places/">Places</a></li>
                        <li><a href="/vetbiz/offers/">Offers</a></li>
                        <li><a href="/vetbiz/jobs/">Jobs</a></li>
                    </ul>

                {% endblock %}
               <form id="search-form" method="get" action="/vetbiz/search/" style="padding-top:10px" class="form-inline">
                    <input id="q" size="40" style="width:180px"  name="q" value="{{query}}" type="text"  placeholder="Find something..." class="form-control">
                    <button class="btn btn-warning" type="submit">Go</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="background:transparent;padding-right:0px;padding-left:0px"> 
        <div class="row" style="background:transparent;padding-right:0px;">
            {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>

