{% extends "vetbiz/base.html" %}
{% block tabs %}
    <ul class="nav navbar-nav">
        <li><a href="/vetbiz/">Map</a></li>
        <li><a href="/vetbiz/places/">Places</a></li>
        <li><a href="/vetbiz/offers/">Offers</a></li>
        <li><a href="/vetbiz/jobs/">Jobs</a></li>
        <li class="active"><a href="/vetbiz/charities/">Charities</a></li>
    </ul>
{% endblock %}
{% block content %}
    <style>
    body {
                    background: url(/static/img/bg_benefits_money.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }

  @media screen{
     #printSection{ display:none;}}

   @media print{
      body * {visibility:hidden;}
      #printSection, #printSection * {visibility:visible;}
      #printSection { position:absolute; left:0;top:0;}}

    </style>
    
    <div class="col-sm-10 col-sm-offset-1 well" style="margin-top:50px">
        <h2>{{charity.name}}</a></h2>
        <a href="{{charity.link}}">{{charity.link}}</a>
        <br>
        <br>
        {% if charity.image_link %}
            <img src="{{charity.image_link}}" style="float:left;margin-right:20px">
        {% endif %}
        {{charity.description|safe}}
        <br><br>
        {% if charity.donated_points > 0 %}
            <b>{{charity.donated_points}} points donated so far!</b>
            <br>
        {% endif%}
        {% if user.username %}
        {% if user.userprofile.points > 100 %}
        	<button id="donate-button" class="btn btn-success">Donate 100 Points</button>
    	{% else %}
        <br><b>Checkin to some <a href="/vetbiz/places">Veteran Owned Businesses</a> to gain more points to donate!</b>
        {% endif %}
        {% else %}
        <br> 
        <b>Log In or Sign Up to use the Donation feature!</b>
        {% endif %}
    
    </div>
    <script>
    
        $(document).ready(function(){

            $('#donate-button').click(function(){
                donate('{{charity.id}}',100,
                function(msg){$('#donate-button').attr('disabled','disabled').html('Thank you!');
                    $('#points-badge').html(msg); 
                });
            });
            });
    </script>
{% endblock %}
