{% extends "vetbiz/base.html" %}
{% block content %}

    <style>
    body {
                    background: url(/static/img/bg_careers_help.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
    <div class="col-sm-10 col-sm-offset-1 well" style="margin-top:50px">
        <table class="table">
    <thead>
        <tr>
            <th>
                Place
            </th>
            <th>
                Address
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        {% for checkin in checkins%}
        <tr>
            <td>
                <a href="/vetbiz/place/{{checkin.business.id}}">{{checkin.business.name}}</a>
            </td>
            <td>
                {{checkin.business.address}}
            </td>
            <td>
                {{checkin.date}}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>


{% endblock %}
