{% extends "vetbiz/base.html" %}
{% block tabs %}
    <ul class="nav navbar-nav">
        <li><a href="/vetbiz/">Map</a></li>
        <li><a href="/vetbiz/places/">Places</a></li>
        <li><a href="/vetbiz/offers/">Offers</a></li>
        <li class="active"><a href="/vetbiz/jobs/">Jobs</a></li>
    </ul>
{% endblock %}
{% block content %}

    <style>
    body {
                    background: url(/static/img/bg_careers_help.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
    <div class="col-sm-10 col-sm-offset-1 panel" style="margin-top:50px">
        <h2>Job Summary</h2>
        <h3>{{job.title}}</h3>
        <dl>
           <dt>Business</dt>
            <dd>
                <a href="/vetbiz/place/{{job.business.id}}">{{job.business.name}}</a>
            </dd>
            <dt>Location</dt>
            <dd>
                <address>
                    {{job.business.address}}
                </address>
            </dd>
            <dt>Category</dt>
            <dd>{{job.category}}</dd>
            <dt>Description</dt>
            <dd><pre>{{job.description}}</pre></dd>
            <dt>Education Level</dt>
            <dd>{{job.education_level}}</dd>
            <dt>Job Reference Code</dt>
            <dd>{{job.reference_code}}</dd>
            <dt>Contact</dt>
            <dd><address>{{job.contact_phone}}<br>
                    {{job.contact_email}}</address></dd>
            </dl>        
    </div>

{% endblock %}
