{% extends "vetbiz/base.html" %}
{% block content %}

    <style>
    body {
                    background: url(/static/img/bg_careers_help.jpg) no-repeat center center fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
    <div class="col-sm-10 col-sm-offset-1 panel" style="margin-top:50px">
        <h1><a href="/vetbiz/place/{{job.business.id}}">{{job.business.name}}</a></h1>
        <address>
            {{offer.business.address}}
        </address>
        <h2>{{job.title}}</h2>
    	{{job.description}}
    </div>

{% endblock %}
