{% extends "vetbiz/base.html" %}
{% block tabs %}
    <ul class="nav navbar-nav">
        <li><a href="/vetbiz/">Map</a></li>
        <li><a href="/vetbiz/places/">Places</a></li>
        <li class="active"><a href="/vetbiz/offers/">Offers</a></li>
        <li><a href="/vetbiz/jobs/">Jobs</a></li>
    </ul>
{% endblock %}
{% block content %}
    <style>
    body {
                    background: url(/static/img/bg_benefits_money.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
    <div class="col-sm-10 col-sm-offset-1 well" style="margin-top:50px">
        <h1><a href="/vetbiz/place/{{offer.business.id}}">{{offer.business.name}}</a></h1>
        <address>
            {{offer.business.address}}
        </address>
        <h2>{{offer.title}}</h2>
	{{offer.description}}
</div>

{% endblock %}
