{% extends "vetbiz/base.html" %}
{% block tabs %}
    <ul class="nav navbar-nav">
        <li><a href="/vetbiz/">Map</a></li>
        <li class="active"><a href="/vetbiz/places/">Places</a></li>
        <li><a href="/vetbiz/offers/">Offers</a></li>
        <li><a href="/vetbiz/jobs/">Jobs</a></li>
    </ul>
{% endblock %}
{% block content %}

    <style>
    body {
                    background: url(/static/img/bg_careers_help.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }
	
	.googlemap{
		border-style:solid;
		border-width:1px;
		border-color:#aaa;
		margin-top:1px;
		margin-bottom:10px;
	}
	.place-image{
		max-width:300px;
		height:auto;
		margin-bottom:20px;
	}
	.logo-image{
		max-width:80px;
		height:auto;
	}
	

    </style>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization","1",{packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		function drawChart(){
			var data=google.visualization.arrayToDataTable([
				['Day','Checkins','PageViews'],
				['M',2,4],
				['T',5,4],
				['W',8,4],
				['R',10,41],
				['F',2,4],
				['S',4,4],
				['S',0,4],
				['M',0,4],
				['T',2,4],
				['W',2,4],
				['R',6,9],
				['F',2,4],
				['S',2,4],
				['S',5,9],
				['M',2,4],
				['T',3,4],
				['W',2,4],
				['R',2,4],
				['F',5,4],
				['S',2,4],
				['S',2,2],
				['M',6,4],
				['T',7,4],
				['W',2,4],
				['R',9,4],
				['F',2,4],
				['S',2,4],
				['S',2,4]
			]);
			var options={title:'Checkin Stats'};
			var chart=new google.visualization.LineChart(document.getElementById('chart_div'));
			chart.draw(data,options);
		}
	</script>
    <div class="col-sm-10 col-sm-offset-1 panel" style="margin-top:50px">
			<h3>{{place.name}}</h3>
			<address>
			    {{place.address}}
			    {% if place.phone %}
				<br>Phone: {{place.phone}}
			    {% endif %}
			    {% if place.email %}
				<br>Email: {{place.email}}
			    {% endif %}
			{% if place.url %}
				<br><a href="{{place.url}}">{{place.url}}</a>
			{% endif %}
			
			</address>
			<button class="btn btn-primary">Edit Info</button>
	<hr>
			<h3>Checkin Stats</h3>
			<div id="chart_div" style="width:600px; height:300px;"></div>	
			<button class="btn btn-primary">View Checkins</button>
	<hr>
			<h3>Offers</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Offer
            </th>
	    <th>
		Points
		</th>
            <th>
                Vets Only
            </th>
            <th>
                Redemptions
            </th>
            <th>
		Start Date               
            </th>
            <th>
		End Date               
            </th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>
                <a href="/vetbiz/offer/{{offer.id}}">{{offer.title}}</a>
            </td>
            <td>
            	{{offer.points}}
		</td>
            <td>
            	{{offer.veterans_only}}
		</td>
            <td>
                {{offer.num_redemptions}}
            </td>
            <td>
                {{offer.start_date}}
            </td>
            <td>
                {{offer.end_date}}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
		
			<button class="btn btn-primary">Create Offer</button>
	<hr>
			<h3>Jobs</h3>
		
        <table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Ref. Code
            </th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs%}
        <tr>
            <td>
                <a href="/vetbiz/job/{{job.id}}">{{job.title}}</a>
            </td>
            <td>
                {{job.start_date}}
            </td>
            <td>
                {{job.end_date}}
            </td>
            <td>
                {{job.reference_code}}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
			<button class="btn btn-primary">Create Job</button>
	</div>
    
{% endblock %}
