{% extends "vetbiz/base.html" %}
{% block content %}

    <style>
    body {
                    background: url(/static/img/bg_careers_help.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
    <div class="col-sm-10 col-sm-offset-1 panel" style="margin-top:50px">
        <h1>{{place.name}}</h1>
        <address>
            {{place.address}}
        </address>

        {% if place.veteran_owned %}
            <span class="label label-info">Veteran Owned</span>
        {% endif %}
        {% if place.veteran_discounts %}
            <span class="label label-success">Veteran Discounts</span>
            {% endif %}

        <h2>Offers</h2>
        {% for offer in place.offer_set.all %}
        <p><a href="/vetbiz/offer/{{offer.id}}">{{offer.title}}</a></p>
        {% endfor %}

        <h2>Jobs</h2>
        {% for job in place.job_set.all %}
        <p><a href="/vetbiz/job/{{job.id}}">{{job.title}}</a></p>
        {% endfor %}
	{% if user.username %}
        <button id="checkin-button" class="btn btn-success">Check in!</button>
    	{% endif %}

	</div>
    
    <script>
    
        $(document).ready(function(){

            $('#checkin-button').click(function(){
                checkin('{{place.id}}',function(){$('#checkin-button').attr('disabled','disabled').html('You checked in!');});
            });
            });
    </script>
{% endblock %}
