{% extends "vetbiz/base.html" %}
{% block tabs %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/vetbiz/">Map</a></li>
        <li><a href="/vetbiz/places/">Places</a></li>
        <li><a href="/vetbiz/offers/">Offers</a></li>
        <li><a href="/vetbiz/jobs/">Jobs</a></li>
        <li><a href="/vetbiz/charities/">Charities</a></li>
    </ul>
{% endblock %}
{% block content %}
    <style>
    body {
        background: url(/static/img/bg_benefits_money.jpg) no-repeat left top fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow:hidden;
    }
    </style>
    <div class="col-sm-3" style="padding-left:0px;padding-right:0px">
        <div class="sidebar-nav scrollable" id="sidebar"></div> 
    </div>
    <div class="col-sm-9" style="margin:0;padding:0;padding-right:0px">
        <div id="map-canvas" style="padding-right:0px"></div>
    </div>
    <script>
    
        $(document).ready(function(){
            
                google.maps.event.addDomListener(window, 'load', initialize);
            });
    </script>
{% endblock %}

