<!DOCTYPE html>
<html>
    <head>
        <title>Stars4Stripes</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <style type="text/css">
        body{padding-top:60px;max-height:100%;overflow:hidden}
        .container-fluid{padding-right:0px;} 
        .row-fluid{padding-right:0px;background-color:lightgray;} 
        .scrollable{overflow-y:scroll;height:800px}
        .sidebar-nav{background-color:lightgray}
        .sidebar-place{min-height:110px;vertical-align:top;background-color:white;padding:10px;margin:10px;
            -moz-box-shadow: 4px 4px 2px #888;
            -webkit-box-shadow: 4px 4px 2px #888;
            box-shadow: 4px 4px 2px #888;
        }
        #map-canvas { height:800px;padding:0;margin:0;padding-right:0px }
        #map-canvas img { 
          max-width: none;
      }
      #sidebar{background-color:lightgray;}
       media="screen" #map-canvas label { 
            width: auto; display:inline; 
        }
        /** FIX for Bootstrap and Google Maps Info window styes problem **/}
        img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
            max-width: none;
        }
    </style>

    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"  />
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTZYjwE2l-IodYDfJRZkk5Xlu4u2dMbVQ&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

    <script type="text/javascript">

        function getUserLocation(fn){
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(function(position){
                       fn(new google.maps.LatLng(position.coords.latitude,position.coords.longitude)); 
                        });
            }
            else
            {
                fn(new google.maps.LatLng(-34.397, 150.644));
            }
        }

        function setUserPosition(position){
            map.setCenter(new google.maps.LatLng(position.coords.latitude,position.coords.longitude));
        }

        function initialize() {
            getUserLocation(createMap);
        }

        var RADIUS=5000;
        var map=null;
        var places=[];
        var markers=[];

        function createMap(center)
        {  
            map = new google.maps.Map(document.getElementById("map-canvas"),
                    {
                        center:center,
                        panControl:true,
                        zoomControl:true,
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
/*
            $(window).resize(function () {
                var h = $(window).height(),
                    offsetTop = 40; // Calculate the top offset
                $('#map-canvas').css('height', (h - offsetTop));
                }).resize();
 */
            getNearbyPlaces('{{query}}',center,RADIUS);
        }

        function addPlace(place)
        {
            console.log('addPlace: '+place.name);

            for(var i=0;i<places.length;i++)
            {
                var p=places[i];
                if(samePlace(p,place))
                {
                    console.log('found same place, merging...');
                    p=mergePlace(p,place);
                    places[i]=p
                    return p;
                }
            }
            places.push(place);
            return place;
        }

        function matchesQuery(query,place)
        {   
            console.log("matchesQuery: "+query +": "+place.name);    
            if(!query)
            {
                console.log("query is !, return true");
                return true;
            }
            if(query.length==0)
            {
                console.log("query is empty, return true");
                return true;
            }
            if(!place.name)
            {
                return false;
            }
            // TODO: test if matches any keywords or category names for the place...
            var b= place.name.toLowerCase().indexOf(query.toLowerCase())>-1;
            console.log("matches: "+b);
            return b;
        }

        function samePlace(a,b)
        {
            return (a.name==b.name);
        }

        function mergePlace(a,b)
        {
            console.log("merging place: "+a.name +" is same as "+b.name);
            if(a.veteran_discounts==true)
                b.veteran_discounts=true;

            if(a.veteran_owned==true)
                b.veteran_owned=true;
            
            if(b.veteran_discounts==true)
                a.veteran_discounts=true;

            if(b.veteran_owned==true)
                a.veteran_owned=true;

            a.offers=b.offers;

            return a;
        }

        function addPlaces(a)
        {
            console.log('addPlaces: '+a.length);
            for(var i=0;i<a.length;i++)
            {
                addPlace(a[i]);
            }
        }

        function getNearbyPlaces(query,center,radius)
        {   
            console.log('getNearbyPlaces: '+query);
            // we want to search google places API and our own web service in parallel
            // we can use jQuery deferred objects to make it work...
            clearMarkersAndPlaces();

            $.when(getNearbyGooglePlaces(query,center,radius),getNearbyVeteranPlaces(query,center,radius)).done(function(googlePlaces,veteranPlaces)
                    {
                        console.log('done called');
                        addPlaces(googlePlaces);
                        addPlaces(veteranPlaces);
                        createMarkers();
                    });
        }

        function getNearbyGooglePlaces(query,center,radius)
        {
            var d=$.Deferred();
            service=new google.maps.places.PlacesService(map);
            service.nearbySearch({location:center,radius:radius,types:['store']},function (results,status){
                var businesses=[];
                if(status==google.maps.places.PlacesServiceStatus.OK)
                {
                    for(var i=0;i<results.length;i++)
                    {
                        var business=googlePlaceToBusinessObject(results[i]);
                        // TODO: perform this filtering on the server
                        if(matchesQuery(query,business))
                        {
                           businesses.push(business);
                        }
                    }
                }
                console.log('resolve from getNearbyGooglePlaces');
                d.resolve(businesses);
                });
            return d.promise();
        }

        function getNearbyVeteranPlaces(query,center,radius)
        {
            var d=$.Deferred();
            $.ajax(
                {
                    type:'GET',
                    url:'/vetbiz/api/searchbiz/',
                    dataType:'json',
                    data:{
                        lat:center.lat(),
                        lon:center.lng(),
                        radius:radius},
                    success:function(results){
                        var businesses=[];
                        for(var i=0;i<results.length;i++)
                        {
                            var business=results[i].fields;
                            // TODO: perform this filtering on the server
                            if(matchesQuery(query,business))
                            {
                               businesses.push(business);
                            }
                        }
                        console.log('resolve from getNearbyVeteranPlaces');
                        d.resolve(businesses);
                    }
                }        
            );
           return d.promise(); 
        }
        
        function googlePlaceToBusinessObject(place)
        {
            return {
                name:place.name,
                veteran_discounts:false,
                veteran_owned:false,
                lat:place.geometry.location.lat(),
                lon:place.geometry.location.lng(),
                address:place.vicinity,
                phone:place.formatted_phone_number,
                icon:place.icon,
                types:places.types
            };
        }

        function search(query){
            console.log('query: '+query);
            getUserLocation(function(center){
                    getNearbyPlaces(query,center,RADIUS);
            });
        }

        function clearMarkersAndPlaces(){
            $('#sidebar').html('');
            for(var i=0;i<markers.length;i++){
                markers[i].setMap(null);
            }
            places=[];
            markers=[];
        }

        function setVeteranOwned(id,input){
            place=places[id];
            place.veteran_owned=true;
            updateBusiness(place);
        }

        function setVeteranDiscounts(id,input){
            place=places[id];
            place.veteran_discounts=true;
            updateBusiness(place);
        }
    
        function updateBusiness(place){
            $.ajax(
                {
                    type:'POST',
                    url:'/vetbiz/api/updatebiz/',
                    data:place
                }        
                ).done(function(msg){ });
        }

        function createInfoWindow(id,place){
            var content="<div><b>"+place.name+"</b><br><br>"+
                "<input type='checkbox' onclick='setVeteranOwned("+id+",this);'>Veteran Owned<br>"+
                "<input type='checkbox' onclick='setVeteranDiscounts("+id+",this);'>Veteran Discounts</div>";
            return new google.maps.InfoWindow({content:content}); 
        }

        function createMarkers(){
            console.log('createMarkers');
            for(var i=0;i<places.length;i++){
                createMarker(i,places[i]);
            }
        }

        function getIconForPlace(place)
        {
            if (place.veteran_owned || place.veteran_discounts)
            {
                if (place.veteran_owned && place.veteran_discounts)
                {
                    // purple marker
                    return 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
                }
                else
                {
                    if(place.veteran_owned)
                    {
                        // blue marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                    }
                    if(place.veteran_discounts)
                    {
                        // red marker 
                        return 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
                    }
                }
            }            
            //default
            return 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        }

        function createMarker(id,place){
            console.log('create marker: '+place.name);
            
            var marker=new google.maps.Marker({
                        map:map,
                        icon:getIconForPlace(place),
                        position:new google.maps.LatLng(place.lat,place.lon),
                        title:place.name
                        });
            
            markers.push(marker);
            
            createSideBarItem(id,place);

            // TODO: show info on hover, and make sidebar scroll entry to the top and highlight on click...
            google.maps.event.addListener(marker,'click',function(){
                        createInfoWindow(id,place).open(map,marker);
                    });
        }

        function createSideBarItem(id,place)
        {
            // TODO: set ID from id so we can scroll and highlight this div on click/hover over marker
            // create side bar nav box for this place

            var div=$('<div>').addClass('sidebar-place').addClass('muted');

            div.append($('<b>').html(place.name));
            div.append($('<br>'));
            div.append($('<p>').html(place.address));
                
            if(place.veteran_owned)
            {
                div.append($('<span>').addClass('label').addClass('label-info').css('margin-right',4).html('Veteran Owned'));        
            }
            if(place.veteran_discounts)
            {
                div.append($('<span>').addClass('label').addClass('label-success').html('Veteran Discounts'));        
            }
            if(place.offers)
            {
                if(place.offers.length>0)
                {
                    div.append($('<br>'));
                    div.append($('<p>').html(place.offers[0].fields.title));
                }
            }
            div.appendTo("#sidebar");
        }

        $(document).ready(function(){
            
                google.maps.event.addDomListener(window, 'load', initialize);
                
                $("#search-form").submit(function(){search($('#q').val());}  );
        });

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"><b>S</b>tars<i>4</i><b>S</b>tripes</a>
                <div class="nav-collapse collapse">

                    <p class="navbar-text pull-right">
                    <button class="btn btn-primary">Log In</button>
                    <button class="btn btn-success">Sign Up</button>
                    </p>
                    <form id="search-form" method="get" action="" style="padding-top:10px" class="form-inline">
                    <div class="input-append">
                        <input id="q" size="200" style="width:400px" name="q" value="{{query}}" type="text"  placeholder="Find veteran businesses...">
                        <button class="btn btn-warning" type="submit">Search</button>
                    </div>
                    </form>
                </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-right:0px;padding-left:0px"> 
        <div class="row-fluid" style="padding-right:0px">
            <div class="span3">
                <div class="sidebar-nav scrollable" id="sidebar"></div> 
            </div>
            <div class="span9" style="margin:0;padding:0;padding-right:0px">
                <div id="map-canvas" style="padding-right:0px"></div>
            </div>
        </div>
    </div>
  </body>
</html>

