{% extends "vetbiz/base.html" %}
{% block content %}
    <style>
    body {
                    background: url(/static/img/soldier_life_bg.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
        <div class="col-sm-4 col-sm-offset-6 well" style="margin-top:50px">
        <h2>Sign Up</h2>
        <form id="login-form" role="form" action="/vetbiz/api/signup/" method="POST">
            <div class="form-group">
                <label for="username" >Username</label>
                    <input type="text" class="form-control" name="username" id="username" minlength="3"  placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="email" >Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                    <input type="password" class="form-control" name="password" id="password" minlength="3" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" id="password2" minlength="3" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <label for="branch" >Military Branch</label>
                    <select class="form-control input-sm" name="branch" id="branch" required>
                        <option value="none">None</option>
                        <option value="army">Army</option>
                        <option value="airforce">Air Force</option>
                        <option value="coastguard">Coast Guard</option>
                        <option value="marines">Marines</option>
                        <option value="navy">Navy</option>
                    </select>
                    <br>
                    <button class="btn btn-success" type="submit">Sign Up</button>
                    <br>
                    <br>
                    <a href="/vetbiz/signin/">Already signed up?</a>
            </div>
            {% csrf_token %}
        </form>
        <script>
            $(document).ready(function(){
                $('#login-form').validate({
                    rules:{
                        username:{
                            remote:"/vetbiz/api/unique/"
                        },
                        password2:{
                            equalTo:'#password'
                        }
                    },
                    messages:{
                        username:{
                            remote:"That username is already taken!"
                        },
                        password2:{
                            equalTo:"Passwords must match"
                        }
                    }
                });
            });
        </script>
    </div>
{% endblock %}

