{% extends "vetbiz/base.html" %}
{% block content %}
    <div class="col-sm-6 col-sm-offset-3 well">
        <h2>Sign Up</h2>
        <form id="login-form" class="form-horizontal" action="/vetbiz/api/signup/" method="POST">
            <div class="row">
                <label for="username" class="col col-sm-2 control-label">Username</label>
                <div class="col col-sm-10">
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <label for="email" class="col col-sm-2 control-label">Email</label>
                <div class="col col-sm-10">
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <label for="password" class="col col-sm-2 control-label">Password</label>
                <div class="col col-sm-10">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <label for="password2" class="col col-sm-2 control-label">Confirm Password</label>
                <div class="col col-sm-10">
                    <input type="password" name="password2" id="password2" placeholder="Confirm Password">
                    <div class="checkbox">
                        <label><input type="checkbox">I am a Veteran!</label> 
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

