{% extends "vetbiz/base.html" %}
{% block content %}
    <style>
    body {
                    background: url(/static/img/soldier_life_bg.jpg) no-repeat center center fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }


    </style>
        <div class="col-sm-6 col-sm-offset-3 well" style="margin-top:50px">
        <h2>Sign Up</h2>
        <form id="login-form" class="form-horizontal" action="/vetbiz/api/signup/" method="POST">
            <div class="row">
                <label for="username" class="col col-sm-2 control-label">Username</label>
                <div class="col col-sm-10">
                    <input type="text" name="username" id="username" minlength="6"  placeholder="Username" required>
                </div>
            </div>
            <div class="row">
                <label for="email" class="col col-sm-2 control-label">Email</label>
                <div class="col col-sm-10">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="row">
                <label for="password" class="col col-sm-2 control-label">Password</label>
                <div class="col col-sm-10">
                    <input type="password" name="password" id="password" minlength="6" placeholder="Password" required>
                </div>
            </div>
            <div class="row">
                <label for="password2" class="col col-sm-2 control-label">Confirm Password</label>
                <div class="col col-sm-10">
                    <input type="password" name="password2" id="password2" minlength="6" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="row">
                <label for="service" class="col col-sm-2 control-label">Military Branch</label>
                <div class="col col-sm-4">
                    <select class="form-control input-sm" name="service" id="service" required>
                        <option value="none">None</option>
                        <option value="army">Army</option>
                        <option value="airforce">Air Force</option>
                        <option value="coastguard">Coast Guard</option>
                        <option value="marines">Marines</option>
                        <option value="navy">Navy</option>
                    </select>
                    <br>
                    <button class="btn btn-success" type="submit">Sign Up</button>
                    <br>
                    <br>
                    <a href="/vetbiz/signin/">Already signed up?</a>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <script>
            $(document).ready(function(){
                $('#login-form').validate({
                    rules:{
                        username:{
                            remote:"/vetbiz/api/unique/"
                        },
                        password2:{
                            equalTo:'#password'
                        }
                    },
                    messages:{
                        username:{
                            remote:"That username is already taken!"
                        },
                        password2:{
                            equalTo:"Passwords must match"
                        }
                    }
                });
            });
        </script>
    </div>
{% endblock %}

