{% extends "vetbiz/base.html" %}
{% block content %}
    <style>
    body {
                    background: url(/static/img/bg_benefits.jpg) no-repeat left top fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                                                            }
                                                                        </style>
    <div class="col col-sm-4 col-sm-offset-6 well" style="margin-top:50px">
        <h2>Log In</h2>
        <form id="login-form" role="form" action="/vetbiz/api/signin/" method="POST">
            <div class="form-group"">
			<label for="username">Username</label>    
	        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
			<label for="password">Password</label>    
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
		    <div class="checkbox">
			<label><input type="checkbox">Remember me</label> 
		    </div>
		    <button class="btn btn-primary" type="submit">Log In</button> or <a href="/vetbiz/signup/">Sign up</a>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

